<div class="container">
  <div class="row">
    <label for="">@Viewchild directive</label>
    <app-employee></app-employee>
  </div>
  <hr />
  <app-cockpit
    [ninjaData]="ninja"
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBluePrintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
      ></app-server-element>
    </div>
  </div>
  <hr />
  <div class="row">
    <app-home
      [ninjaData]="ninja"
      [myCountry]="country"
      (onYell)="yell($event)"
      (onHello)="sayHello($event)"
      >Hello ng content</app-home
    >
  </div>
  <div class="row">
    <hr />
    <app-greet-user [userData]="userData"></app-greet-user>
  </div>
</div>
<hr />
