<p>servers works!</p>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<!-- <input type="text" class="form-control" [(ngModel)]="serverName" ) /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>Server name is {{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created {{ serverName }}</p>
<div>
  <app-server></app-server>
  <app-server></app-server>
</div>
<div>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="userName"
    (input)="onUpdateUserName($event)"
  />
  <p>User name is :: {{ userName }}</p>
  <button
    class="btn btn-primary"
    [disabled]="!isUSerEmpty"
    (click)="onUserAdd()"
  >
    Add User
  </button>
</div>
