<p>My Ninja is {{ ninjaData.name }} and his belt is {{ ninjaData.belt }}</p>
<button (click)="fireYellEvent($event)">Click event emmit</button>

<button type="button" (click)="fireHelloEvent($event)" class="btn btn-default">
  Say Hello
</button>
<p>
  Our country {{ myCountry.country }} state {{ myCountry.state }} and zip
  {{ myCountry.zip }}
</p>
<!-- 2 way biniding -->
<input type="text" name="" id="" [(ngModel)]="cricketer.name" />
<p appBetterHighlighter [defaultColor]="'yellow'" [highlightColor]="'red'">
  {{ cricketer.name }}
</p>
<p appHighlighGreen>{{ cricketer.number }}</p>
<ng-content></ng-content>

<div appBetterHighlighter [ngSwitch]="value">
  <p appBetterHighlighter *ngSwitchCase="5">value is 5</p>
  <p appBetterHighlighter *ngSwitchCase="10">value is 10</p>
  <p *ngSwitchCase="100">value is 100</p>
  <p *ngSwitchDefault>Default value</p>
</div>
